/*
 ================================
 Reset Base Styles
 ================================
*/

header, div, footer, table,
body, ul, li, tr, th, td,
tbody, thead, img, nav {
    margin: 0;
    padding: 0;
    border: 0;
}


/*
 ===================================
 Utility
 ===================================
*/

body {
    background: #f00;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}

.bg-light {
    background: #f8f8ff;
}

.bg-light-blue {
    background: #F3F7FA;
}

.card {
    border-radius: 5px;
    box-shadow: 2px 2px 8px 4px#ccc;
}

img {
    width: 850px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.hero img {
    height: 400px;
}

.user-menu img {
    height: 160px;
}


/*
 ===================================
 Header, footer
 ===================================
*/

header {
    background: #f00;
}

header, footer {
    color: rgba(255,255,255,.85);
}

footer {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

footer p {
    margin: 0;
    font-size: 1.125rem;
}


/*
 ===================================
 Typography
 ===================================
*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-dark, .text-danger {
    color: #f00;
}

.text-success {
    color: #4CAF50;
}

.text-warning {
    color: #ffa100;
}

.font-weight-bold {
    font-weight: bold;
}

.hero {
    font-size: 2.0rem;
    line-height: 1rem;
    order: 1;
    color: yellow;
    font-family: 'Varela Round', sans-serif;
}

.lead {
    line-height: 0.875rem;
    font-family: 'Varela Round', sans-serif;
}

.aside h2 {
    color: #f00;
}


/*
 ===================================
 Links
 ===================================
*/

a {
    text-decoration: none;
}

.nav-container a.active {
    color: #fff;
}

.nav-container a {
    color: inherit;
}

footer a {
    color: #4e4a4a;
}

footer a:hover {
    text-decoration: underline;
}


/*
 ===================================
 Grid: flexbox
 ===================================
*/

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.col-3-4 {
    flex: 100%;
}

.col-1-4 {
    flex: 100%;
}

.aside {
    padding-bottom: 30px;
    order: 2;
    background: #fff;
}


/*
 ===================================
 forms
 ===================================
*/

.form {
    width: 17.1875rem; /* 275px */
    background: #fff;
    padding: 30px;
    margin: 2rem auto;
}

.form h2 {
    margin-top: 0;
    margin-bottom: 2rem;
}

.label {
    text-align: left;
    color: #f00;
    display: inline;
}

.label-block {
    display: block;
    padding-bottom: 5px;
}

.form input,
.form .btn,
.form textarea {
    margin: 0.3125rem auto 1.6875rem auto; /* 5px 0 27px 0; */
}

.form input,
.form textarea {
    border: 0.0625rem solid #f00; /* 1px */
    border-radius: 0.1875rem; /* 3px */
    color: #4e4a4a;
    display: block;
    padding: 0.3125rem 0.5rem; /* 5px 8px */
    width: 93%;
    font-size: 1rem; /* 16px */
    font-family: 'Varela Round', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.75rem;
    font-family: 'Varela Round', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.75rem;
    font-family: 'Varela Round', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 0.75rem;
    font-family: 'Varela Round', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 0.75rem;
    font-family: 'Varela Round', sans-serif;
}

#signIn p,
.aside p {
    color: #f00;
}

.aside p:first-of-type {
    margin-bottom: 30px;
}

#signIn h2 {
    margin-bottom: 0;
}

#signUp .btn {
    margin-bottom: 0;
}

.form-footer {
    color: #f00;
    font-size: 1rem;
}

.form-footer .btn-alt {
    margin-bottom: 0;
}


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;/*0.3125rem;*/ /* 5px */
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    padding: 0.6875rem 1.875rem; /* 11px 30px */
    margin-bottom: 1.375rem; /* 22px */ 
    font-size: 0.875rem; /* 14px */
    font-family: 'Varela Round', sans-serif;
}

.btn-default {
    border: 0;
    background: #f00;
    background-image: linear-gradient(to right, #f00, #f00);
}

.btn-default:hover {
    background: rgb(209, 17, 17);
}

.btn-alt {
    border: 1px solid #f00;
    background: #fff;
    color: #f00;
    padding: 0.625rem 0.625rem; /* 10px 10px */
    font-size: 0.75rem;
    margin-bottom: 1.375rem; /* 22px */
}

.btn-alt:hover {
    color: #fff;
    background: #f00;
}

.btn-default-lg {
    width: 100%;
}

.btn-intro-lg {
    font-size: 1.5rem;
}

.intro-banner .btn-intro-lg:hover {
    background: #ffa100;
}

.btn-danger {
    color: #fff;
    background: #f00;
    border: 0;
}

.btn-danger:hover {
    background: rgba(​220, ​53, 69, 0.85)
}

.btn-light {
    background: #dae0e5;
    color: #f00;
    border: 0;
}


/*
 ===================================
 Navigation
 ===================================
*/

.navbar {
    display: flex;
    padding: 1rem;
}

.navbar, .nav-container {
    flex-direction: column;
}

.nav-container {
    display: none;
}

.nav-container > li {
    list-style-type: none;
    padding: 0.5rem;
    flex-direction: column;
    font-weight: 500;
}
.nav-container > li:hover,
a.active:hover {
    color: yellow;
}

.logo {
    font-size: 2rem;
    cursor: default;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

.toggle-show {
    align-self: flex-end;
    display: initial;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
}

.navbar-toggle-show {
    display: flex;
}


/*
 =====================================
 Meals
 =====================================
*/

.add-section > h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    font-family: 'Varela Round', sans-serif;
}

.add-section .form {
    padding-top: 0.875rem; /* 14px */
}

.meals {
    padding-bottom: 2rem;
}

.meals h2 {
    margin: 0;
    margin-top: 3rem;
    font-family: 'Varela Round', sans-serif;
}

.meals .btn {
    text-transform: capitalize;
}

table {
    width: 75%;
    margin: 0 auto;
    margin: 1rem;
    border-collapse: collapse;
    color: #4e4a4a;
}

table, th, td,
tbody, thead, tr, {
    border-radius: 10px;
}

table, th, td, caption {
    border: 1px solid #9e9e9e;
}

td,
th {
    padding: 15px;
}

th {
    font-weight: 400;
    font-size: 1.125rem;
}

td {
    font-size: 1rem;
    font-weight: 500;
}

td[title] {
    color: #f00;
    cursor: pointer;
}

.table-scroll {
    overflow-x: auto;
}

.actions button:first-of-type {
    margin: 1rem;
}


/*
 ================================
 Menus
 ================================
*/

.menu {
    padding: 2rem;
}

.menu h2,
.user-menu-main h2 {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.set-menu a {
    color: #fff;
}

.menu .btn {
    margin: 2rem auto;
}

.menu-card {
    width: 75%;
    margin: 1rem auto;
    padding: 2rem;
    background: #fff;
    font-family: 'Varela Round', sans-serif;
}

.menu-card table,
.menu-card th,
.menu-card td {
    border: 0;
}

.menu-card table {
    margin-top: 0;
}

.menu-card td {
    font-size: 1.5rem;
}

.add-section form {
    width: 15rem;
}

.add-section select {
    width: 100%;
    height: 3rem;
    font-size: 1.125rem; /* 18px */
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*
 ===================================
 Dashboard
 ===================================
*/

.dashbord,
.user-menu,
.order-history {
    margin: 2rem auto;
    width: 950px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    color: #2c2c2c;
}

.dash-main,
.user-menu-main,
.order-history-main,
.landing-main,
.order-details-main {
    padding: 1.5rem;
}

.dash-main h2,
.user-order-history h2 {
    font-family: 'Varela Round', sans-serif;
}

.dashbord-item {
    min-width: 0;
    margin: 2rem auto;
    width: 15rem;
    max-width: 85%; 
    max-height: 450px;
    color: #4e4a4a;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    padding-left: 0rem;
    padding-right: 0rem;
}

.dashbord-item h2 {
    margin-top: .5rem;
    font-size: 2rem;
}

.dashbord-item p {
    margin-bottom: .5rem;
}

.filter {
    font-size: .875rem;
}

.filter .btn {
    font-size: .875rem;
    margin-bottom: 0;
}

input[type="date"] {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    margin: .5rem;
    margin-top: .5rem;
    padding: .5rem .875rem;
    border: .5px solid #9e9e9e;
    border-radius: 5px;
    width: 85%;
}

.bar { display: none; }

.amount {
    color: #f00;
}

.orders {
    overflow-x: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.orders table {
    width: 50rem;
    max-width: 100%;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    color: #4e4a4a;
}

.orders table > caption,
.meals table > caption {
    border-bottom: 0;
    padding: .5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.125rem;
}


/*
 ==================================
 User menu
 ==================================
*/

.user-menu-main section.card {
    box-shadow: 2px 2px 2px 4px#ccc;
}

.user-menu-item {
    min-width: 0;
    margin: 2rem auto;
    width: 15rem;
    max-width: 85%; 
    max-height: 450px;
    color: #9e9e9e;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    padding: 0.5rem;
}

.user-menu-item .amount {
    color: #f00;
}

.user-menu-item p {
    margin: 0;
    margin-top: .5rem;
    font-size: .875rem;
    position: relative;
    text-align: center;
}
.user-menu-item p:last-of-type {
    font-size: 1rem;
}

.user-menu-item .btn {
    position: relative;
    left: 18%;
}
li.user {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

/*
 ===================================
 Order History
 ===================================
*/

.order-history .orders {
    margin-top: 2rem;
}

/*
 ====================================
 Landing Page
 ====================================
*/

.image-overlay {
    width: 100%;
    background:  linear-gradient(rgba(255,0,0,0.4), rgba(255,0,0,0.4)),
        url('../img/close-up-cooking-dinner-46239.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-banner {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.intro-banner h1 {
    font-size: 4.5rem;
    margin-top: 0;
}

.intro-banner p {
    font-size: 2.5rem;
}

.landing-main a,
.user-menu-main a {
    color: #fff;
}

.landing-main .btn,
.user-menu-main .btn {
    margin: 1rem auto;
}

.intro-banner .btn {
    border: 0;
    background: yellow;
}


/*
 ===================================
 Order Details
 ==================================
*/

.order-details {
    margin: 2rem auto;
    width: 30rem;
    max-width: 75%;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #4e4a4a;
}
.order-details .btn { margin-top: 1rem; }
.order-details h2 {
    color: #f00;
}
.meal-details {
    display: flex;
    justify-content: space-around;
    align-items: center
}
.order-details p {
    font-size: 1.5rem;
    margin: 1.125rem;
}
hr {
   margin: 0 0.75rem;
}
#total {
  font-size: 3rem;
  align-self: flex-end;
}


/*
 ===================================
 Media Queries
 ===================================
*/

@media screen and (min-width: 768px) {
    header {
        padding: 0 60px;
    }

    footer {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .add-section form {
        width: 20rem;
    }


    /*
     ===================================
     Grid: flexbox
     ===================================
    */

    .flex-container, .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .col-3-4 {
        flex: 50%;
    }

    .col-1-4 {
        flex: 50%;
    }


    /*
     ===================================
     Navigation
     ===================================
    */

    .navbar {
        display: flex;
        padding: 0 4rem;
    }
    
    .navbar, .nav-container {
        flex-direction: row;
    }
    
    .nav-container {
        display: flex;
        padding: 1.6875rem 0; /* 27px 0 */
    }
    
    .nav-container > li {
        list-style-type: none;
        font-size: 1.125rem; /* 18px */
        margin-left: 1rem;
        padding: 0;
    }
    
    .nav-container > li:first-of-type {
        margin-left: auto;
    }
    
    .toggle-show {
        display: none;
    }
    
    .logo {
        padding-bottom: 1rem; /* 16px */
        font-size: 40px;
        line-height: 1rem;
        cursor: default;
        color: yellow;
    }

    
    /*
     ====================================
     Meals
     ====================================
    */

    table {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
    }

    
    /*
     ===================================
     Dashboard
     ===================================
    */

    .dashbord,
    .user-menu,
    .order-history {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .dashbord-item {
        margin: 2rem;
        max-width: 100%; 
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    input[type="date"] {
        margin-right: .5rem;
        padding: .5rem .875rem;
        width: inherit;
        margin-top: 1.5rem;
    }


    /*
     ==============================
     User menu
     ==============================
    */

    .user-menu-item {
        margin-right: 0;
    }

    .user-menu-item:nth-of-type(2n) {
        margin-right: auto;
    }

    .user-menu-item:last-of-type:not(even) {
        margin-right: auto;
    }

    .meal-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    hr {
        margin: 0 1.125rem;
     }
}


@media screen and (min-width: 1024px) {
    /*
     ===================================
     Grid: flexbox
     ===================================
    */

    .col-3-4 {
        flex: 60%;
    }

    .col-1-4 {
        flex: 40%;
    }

    .aside {
        padding: 0;
    }


    /*
     ===================================
     Navigation
     ===================================
    */

    .nav-container > li {
        margin-left: 2rem;
    }

    /*
     ====================================
     User menu
     ====================================
    */

    .user-menu-item:nth-of-type(2n) {
        margin-right: 0;
    }

    .user-menu-item:nth-of-type(3n) {
        margin-right: auto;
    }
}


@media screen and (min-width: 1200px) {
    /*
     ===================================
     Grid: flexbox
     ===================================
    */

    .col-3-4 {
        flex: 60%;
    }

    .col-1-4 {
        flex: 40%;
    }

    .aside {
        padding: 0;
    }
}