{
    "root": true,
    "env": {
        "node": true,
        "mocha": true
    },
    "extends": "airbnb-base",
    "rules": {
				"linebreak-style": 0,
				"no-unused-vars": ["error", { "argsIgnorePattern": "(next|match|err|Sequelize)" }],
				"prefer-destructuring": 0,
				"no-console": ["error", { "allow": ["log"] }],
				"import/first": 0
    }
}
