# node modules
node_modules

# dotenv environment variables file
.env

# build folder
server/dist
client/dist

# jest snapshots
*.snap

# nyc
.nyc_output

.coveralls.yml
coverage

# vscode
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# mac
.DS_Store

# e2e
e2e-tests/reports/
e2e-tests/selenium-report/
tests_output/

# eslint
.eslintcache
