:root {
    --minsk: #3D3462;
    --ghost-white: #F8F8F9;
    --scampi: #726B93;
    --amethyst-smoke: #957D98;
    --east-side: #A49DAA;
    --pink-flare: #C3B3B4;
    font-size: 16px;
}

/*
 ================================
 Reset Base Styles
 ================================
*/
header, div, footer, table,
body, ul, li, tr, th, td,
tbody, thead {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #3D3462;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.bg-light {
    background: #fff;
}

/*
 ===================================
 Header, footer
 ===================================
*/

header {
    background: #3D3462;
}
header, footer {
    color: rgba(255,255,255,.75);
}
footer {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
footer p {
    margin: 0;
}

/*
 ===================================
 Typography
 ===================================
*/

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-dark {
    color: #3D3462;
}
.font-weight-bold {
    font-weight: bold;
}
.hero {
    font-size: 2.0rem;
    line-height: 1rem;
    order: 1;
}
.lead {
    line-height: 0.875rem;
    font-family: 'Comfortaa', cursive;
}

/*
 ===================================
 Links
 ===================================
*/

a {
    text-decoration: none;
}
.nav-container a.active {
    color: #fff;
}
.nav-container a {
    color: inherit;
}

/*
 ===================================
 Grid: flexbox
 ===================================
*/

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.col-3-4 {
    flex: 100%;
}
.col-1-4 {
    flex: 100%;
}
.aside {
    padding-bottom: 30px;
    order: 2;
}

/*
 ===================================
 forms
 ===================================
*/

.form {
    width: 17.1875rem; /* 275px */
    background: #fff;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
}
.label {
    text-align: left;
    color: #726B93;
    display: inline;
}

.label-block {
    display: block;
    padding-bottom: 5px;
}
.form input,
.form .btn {
    margin: 0.3125rem auto 1.6875rem auto; /* 5px 0 27px 0; */
}
.form input {
    border: 0.0625rem solid var(--scampi); /* 1px */
    border-radius: 0.1875rem; /* 3px */
    color: #3D3462;
    display: block;
    padding: 0.3125rem 0.5rem; /* 5px 8px */
    width: 93%;
    font-size: 1rem; /* 16px */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.75rem;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.75rem;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 0.75rem;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 0.75rem;
}
#signIn p {
    color: #3D3462;
    font-size: 1rem;
    margin-bottom: 30px;
}
#signIn .form-footer {
    margin: 0;
}
#signUp .btn {
    margin-bottom: 0;
}
.form-footer {
    color: #3D3462;
    font-size: 0.75rem;
}
.form-footer .btn-alt {
    margin-bottom: 0;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 0.3125rem; /* 5px */
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    padding: 0.6875rem 1.875rem; /* 11px 30px */
    margin-bottom: 1.375rem; /* 22px */ 
    font-size: 0.875rem; /* 14px */
}
.btn-default {
    border: 0;
    background: #3D3462;
}
.btn-default:hover {
    background: #726B93;
}
.btn-alt {
    border: 1px solid #3D3462;
    background: #fff;
    color: #3D3462;
    padding: 0.625rem 0.625rem; /* 10px 10px */
    font-size: 0.75rem;
    margin-bottom: 1.375rem; /* 22px */
}
.btn-alt:hover {
    color: #fff;
    background: #3D3462;
}
.btn-default-lg {
    width: 100%;
}
.btn-danger {
    color: #fff;
    background: #dc3545;
    border: 0;
}
.btn-danger:hover {
    background: rgba(​220, ​53, 69, 0.75)
}
.btn-light {
    background: #dae0e5;
    color: #3D3462;
    border: 0;
}

/*
 ===================================
 Navigation
 ===================================
*/
.navbar {
    display: flex;
    padding: 1rem;
}
.navbar, .nav-container {
    flex-direction: column;
}
.nav-container {
    display: none;
}
.nav-container > li {
    list-style-type: none;
    padding: 0.5rem;
    flex-direction: column;
}
.logo {
    font-size: 2rem;
    cursor: default;
    padding: 0;
}
.toggle-show {
    align-self: flex-end;
    display: initial;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
}
.navbar-toggle-show {
    display: flex;
}

/*
 =====================================
 Meals
 =====================================
*/

.add-section > h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}
.add-section .form {
    padding-top: 0.875rem; /* 14px */
}
.meals {
    padding-bottom: 2rem;
}
.meals h3 {
    margin: 0;
}
.meals .btn {
    text-transform: capitalize;
}

table {
    width: 100%;
    margin: 0 auto;
    margin: 1rem;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #3D3462;
}
td,
th {
    padding: 15px;
}
td {
    font-size: 0.875rem;
    font-weight: 600;
}
tbody > tr:hover {
    background: #A49DAA;
    color: #fff;
}
.table-scroll {
    overflow-x: auto;
}
.actions button:first-of-type {
    margin: 1rem;
}

/*
 ================================
 Menus
 ================================
*/

.menu {
    padding: 2rem;
}
.menu h2 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
.menu-card {
    width: 75%;
    margin: 1rem auto;
    padding: 2rem;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    font-family: 'Comfortaa', cursive;
}
.menu-card table,
.menu-card th,
.menu-card td {
    border: 0;
}
.menu-card table {
    margin-top: 0;
}
.menu-card td {
    font-size: 1.5rem;
}
.menu-card tbody > tr:hover {
    background: inherit;
    color: inherit;
}
.add-section form {
    width: 20rem;
}
.add-section select {
    width: 100%;
    height: 3rem;
    font-size: 1.25rem; /* 20px */
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media screen and (min-width: 768px) {
    header {
        padding: 0 60px;
    }
    footer {
        padding: 1.75rem 120px;
    }

    /*
     ===================================
     Grid: flexbox
     ===================================
    */

    .flex-container, .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .col-3-4 {
        flex: 50%;
    }
    .col-1-4 {
        flex: 50%;
    }

    /*
     ===================================
     Navigation
     ===================================
    */

    .navbar {
        display: flex;
        padding: 0 6rem;
    }
    .navbar, .nav-container {
        flex-direction: row;
    }
    .nav-container {
        display: flex;
        padding: 1.6875rem 0; /* 27px 0 */
    }
    .nav-container > li {
        list-style-type: none;
        font-size: 1.125rem; /* 18px */
        margin-left: 1rem;
        padding: 0;
    }
    .nav-container > li:first-of-type {
        margin-right: auto;
    }
    .toggle-show {
        display: none;
    }
    .logo {
        padding-bottom: 1rem; /* 16px */
        font-size: 40px;
        line-height: 1rem;
        cursor: default;
    }

    /*
     ====================================
     Meals
     ====================================
    */

    table {
        max-width: 75%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 0 60px;
    }
    footer {
        padding: 1.75rem 120px;
    }

    /*
     ===================================
     Grid: flexbox
     ===================================
    */

    .flex-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .col-3-4 {
        flex: 65%;
    }
    .col-1-4 {
        flex: 35%;
    }
    .aside {
        padding: 60px;
    }

    /*
     ===================================
     Typography
     ===================================
    */
    .hero {
        font-size: 5rem;
        line-height: 2rem;
        display: block;
    }
    .lead {
        line-height: 1rem;
        font-family: 'Comfortaa', cursive;
    }

    /*
     ===================================
     Navigation
     ===================================
    */

    .navbar {
        display: flex;
        padding: 0 6rem;
    }
    .navbar, .nav-container {
        flex-direction: row;
    }
    .nav-container {
        display: flex;
        padding: 1.6875rem 0; /* 27px 0 */
    }
    .nav-container > li {
        list-style-type: none;
        font-size: 1.125rem; /* 18px */
        margin-left: 2rem;
        padding: 0;
    }
    .nav-container > li:first-of-type {
        margin-right: auto;
    }
    .toggle-show {
        display: none;
    }
    .logo {
        padding-bottom: 1rem; /* 16px */
        font-size: 40px;
        line-height: 1rem;
        cursor: default;
    }

    /*
     ====================================
     Meals
     ====================================
    */

    table {
        max-width: 75%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px){
    header {
        background: #3D3462;
        height: 72px;
        padding: 0 120px;
    }
    footer {
        padding: 1.75rem 120px;
    }

    /*
    ===================================
    Grid: flexbox
    ===================================
    */

    .flex-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .col-3-4 {
        flex: 75%;
    }
    .col-1-4 {
        flex: 25%;
    }
    .aside {
        padding: 60px;
    }

    /*
    ===================================
    Typography
    ===================================
    */
    .hero {
        font-size: 5rem;
        line-height: 2rem;
        display: block;
    }
    .lead {
        line-height: 1rem;
        font-family: 'Comfortaa', cursive;
    }

    /*
    ===================================
    Navigation
    ===================================
    */

    .navbar {
        display: flex;
        padding: 0 6rem;
    }
    .navbar, .nav-container {
        flex-direction: row;
    }
    .nav-container {
        display: flex;
        padding: 1.6875rem 0; /* 27px 0 */
    }
    .nav-container > li {
        list-style-type: none;
        font-size: 1.125rem; /* 18px */
        margin-left: 2rem;
        padding: 0;
    }
    .nav-container > li:first-of-type {
        margin-right: auto;
    }
    .toggle-show {
        display: none;
    }
    .logo {
        padding-bottom: 1rem; /* 16px */
        font-size: 40px;
        line-height: 1rem;
        cursor: default;
    }

    /*
    ====================================
    Meals
    ====================================
    */

    table {
        max-width: 75%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}
