:root {
    --minsk: #3D3462;
    --ghost-white: #F8F8F9;
    --scampi: #726B93;
    --amethyst-smoke: #957D98;
    --east-side: #A49DAA;
    --pink-flare: #C3B3B4;
    font-size: 16px;
}

body {
    background: #3D3462;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/*
 ===================================
 Typography
 ===================================
*/

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.hero {
    font-size: 2.0rem;
    line-height: 1rem;
}
.lead {
    line-height: 0.875rem;
    font-family: 'Comfortaa', cursive;
}

/*
 ===================================
 Links
 ===================================
*/

a {
    text-decoration: none;
}

/*
 ===================================
 Grid: flexbox
 ===================================
*/

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.col-3-4 {
    flex: 100%;
}
.col-1-4 {
    flex: 100%;
}
.aside {
    padding: 60px;
}

/*
 ===================================
 forms
 ===================================
*/

.form {
    width: 17.1875rem; /* 275px */
    background: #fff;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
}

.label-block {
    display: block;
    text-align: left;
    color: #726B93;
    padding-bottom: 5px;
    font-weight: 600;
}
.form input,
.form .btn {
    margin: 0.3125rem auto 1.6875rem auto; /* 5px 0 27px 0; */
}
.form input {
    border: 0.0625rem solid var(--scampi); /* 1px */
    border-radius: 0.1875rem; /* 3px */
    color: #3D3462;
    display: block;
    padding: 0.3125rem 0.5rem; /* 5px 8px */
    width: 93%;
    font-size: 1rem; /* 22px */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.75rem;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.75rem;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 0.75rem;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 0.75rem;
}
#signIn p {
    color: #3D3462;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
}
#signIn .form-footer {
    margin: 0;
}
#signUp .btn {
    margin-bottom: 0;
}
.form-footer {
    color: #3D3462;
    font-size: 0.75rem;
    font-weight: 600;
}
.form-footer .btn-alt {
    margin-bottom: 0;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 0.3125rem; /* 5px */
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn-default {
    border: 0;
    background: #3D3462;
    padding: 0.6875rem 1.875rem; /* 11px 30px */
    margin-bottom: 1.375rem; /* 22px */ 
    font-size: 0.875rem; /* 14px */
    width: 100%;
}
.btn-default:hover {
    background: #726B93;
}
.btn-alt {
    border: 1px solid #3D3462;
    background: #fff;
    color: #3D3462;
    padding: 0.625rem 0.625rem; /* 10px 10px */
    font-size: 0.75rem;
    margin-bottom: 1.375rem; /* 22px */
}
.btn-alt:hover {
    color: #fff;
    background: #3D3462;
}

@media screen and (min-width: 1100px) {
    /*
     ===================================
     Grid: flexbox
     ===================================
    */

    .flex-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .col-3-4 {
        flex: 75%;
    }
    .col-1-4 {
        flex: 25%;
    }
    .aside {
        padding: 60px;
    }

    /*
     ===================================
     Typography
     ===================================
    */
    .hero {
        font-size: 5rem;
        line-height: 2rem;
        display: block;
    }
    .lead {
        line-height: 1rem;
        font-family: 'Comfortaa', cursive;
    }
}
